go 1.20

use (
	./blueprint
	./examples/sockshop/tests
	./examples/sockshop/wiring
	./examples/sockshop/workflow
	./examples/sockshop/workload
	./examples/dsb_hotel/tests
	./examples/dsb_hotel/wiring
	./examples/dsb_hotel/workflow
	./examples/dsb_sn/tests
	./examples/dsb_sn/wiring
	./examples/dsb_sn/workflow
	./examples/train_ticket/tests
	./examples/train_ticket/wiring
	./examples/train_ticket/workflow
	./plugins
	./runtime
	./test/wiring
	./test/workflow
	./inittest/wiring
	./inittest/workflow
)
