go 1.20

use (
	./blueprint
	./examples/leaf/wiring
	./examples/leaf/workflow
	./examples/sockshop/tests
	./examples/sockshop/wiring
	./examples/sockshop/workflow
	./examples/DSB_hotel/tests
	./examples/DSB_hotel/wiring
	./examples/DSB_hotel/workflow
	./plugins
	./runtime
	./test/wiring
	./test/workflow
)
